page-home {

}

.scroll-content {
    background: url(../../assets/imgs/map.png);

  }

.listed-items{
	font-family: montserrat;
	font-size: 15px;

}

.sub-listed-items{
	font-family: montserrat;
	font-size: 15px;
	
}